#graph-container {
    height: 100vh;
    width: 100%;
    position: relative;
}

#d3-graph-container {
    height: 100%;
    width: 100%;
    min-height: 600px;
    background: var(--background-primary);
    border: 1px solid var(--background-modifier-border);
    border-radius: 4px;
    padding: 10px;
}